PR_CHECKER_PLUS_ONE_TEXT=:+1:
PR_CHECKER_PLUS_ONE_EMOJI=\u{1F44D}
PR_CHECKER_OK_LABEL=+2d
PR_CHECKER_ACCESS_TOKEN=<token>
PR_CHECKER_CONTEXT=2+1s
PR_CHECKER_INFO=Require at least two people to add a +1

PR_CHECKER_ASSIGNEES_FILENAMES=file1 file2
